html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  color: #333;
}

html, body, div, p, h1, h2, h3, h4, h5, h6, ul, li, ol, table, td, tr, th, form {
  padding: 0;
  margin: 0;
}

ul,li,ol{
  list-style: none;
}

em, i {
  font-style: normal;
}

.ant-btn .ant-btn-primary{
    color: #fff;
    background: #3ac1c3 !important;
    border-color: #3ac1c3 !important;
} 
/* 改不了 */
